

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    background-color: bisque;
}
/* Header Section */
header {
    width: 100%;
    background-color: rgb(255, 99, 71);
    padding: 15px 0;
    border-bottom: 10px solid rgb(240, 75, 46);;
    .logo {
        width: 200px;
        height: 80px;
        color: tomato;
        background-color: white;
        border-radius: 100%;
        text-align: center;
        line-height: 80px;
    }

    .mainMenu {
        float: right;
        margin-top: 25px;
        a{
            color: white;
            text-decoration: none;
            margin-left: 15px;
            display: inline-block;
        }
    }
  }

  /* Banner Section */
  .banner {
      width: 100%;
      height: 400px;
      background: rgb(233, 122, 42);
      margin-bottom: 40px;
      text-align: center;
      font-family: 'Fredoka One', cursive;
      //font-size: 50px;
      div{
          h2{
            padding-top: 40px;
          }
      }
      div.text{
          font-weight: lighter;
          color: gray;
      }
  }

  .btn {
      margin-bottom: 20px;
  }

  /*List Repository section*/
  ul.listRepo {
      margin: 0;
      padding: 0;
      list-style: none;
      color: red;
      li {
          a{
            //padding-left: 100px;
              
          }
          .url{
            color: black;
            background-color: rgb(238, 168, 77);
            padding: 20px;

          }
          .name{
            color: black;
            padding: 20px;
            background-color: aquamarine;
          }
          .status{
              color: black;
              padding: 20px;
              background-color: rgb(243, 126, 126);

          }
      }
  }

  .container {
      .row {
          .col-md-3{
              background-color: aquamarine;
              padding-left: 55px;
              .logo{
                  color: black;
                  width: 200px;
              }
          }
          .col-md-9{
            background-color: aquamarine;
            .mainMenu{
                background-color: aqua;
            }
            a{
                background-color: aqua;
                font-weight: bolder;
                font-size: 20px;
                color: rgb(66, 65, 65);
            }
          }
      }
  }

